.git
.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/logs
**/*.log
**/.mypy_cache
**/.ruff_cache
**/node_modules
phase1/tests
phase2/tests
phase2/logs
phase3/tests
phase3/k8s
phase3/docs
phase4/tests
phase4/k8s
phase4/docs
**/.vscode
**/.idea
.env
*.md
!requirements.txt
